
.explorerTabTitle,
.explorerTabTitleDown {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
    padding-top:3px;
}
.explorerTabTitleOver {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
    padding-top:3px;
}
.explorerTabTitleDisabled {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
      color:#666666;
    padding-top:3px;
}
.explorerTabTitleSelected,
.explorerTabTitleSelectedDown {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
      font-weight:bold;
    padding-bottom:2px;
}
.explorerTabTitleSelectedOver {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
      font-weight:bold;
    padding-bottom:2px;
}
.explorerTabTitleSelectedDisabled {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
      color:#666666;
    font-weight:bold;
    padding-bottom:2px;
}
.exampleTabTitle,
.exampleTabTitleSelected,
.exampleTabTitleOver,
.exampleTabTitleDown,
.exampleTabTitleSelectedOver,
.exampleTabTitleSelectedDown,
.exampleTabTitleDisabled,
.exampleTabTitleSelectedDisabled {
    font-family:Arial,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold;
    color: #DDDDDD;
    padding-right:20px;
}

.exampleTabTitleSelected {
    color: #213D42;
}
.exampleTabTitleOver,
.exampleTabTitleDown,
.exampleTabTitleSelectedOver,
.exampleTabTitleSelectedDown {
    color: #00CCCC;
}
.exampleTabTitleDisabled,
.exampleTabTitleSelectedDisabled {
    color: #666666;
}

.exampleTabBar {
    background-color:transparent;
}

/* ------- Explorer Buttons ------- */
.explorerButtonBoxR {
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-top: 8px;
	margin-bottom: 6pt;
	text-align: center;
	-moz-box-shadow: 1px 1px 2px 2px #aaa;
	-webkit-box-shadow: 1px 1px 2px 2px #aaa;
	box-shadow: 1px 1px 2px 2px #aaa;
	border: 1px solid #e2e2e2;
}
.explorerButtonBoxGradient {
	background-color: #e2e2e2;
	background:linear-gradient(to bottom, #e2e2e2 5%, #fdfdfd 100%);
}
.explorerButtonBoxB {
	height: 28pt;
	width: 65pt;
	border: 2px solid red;
	background: grey;
}

.ERbutton a {
	margin-top: 8pt;
	line-height: 40px;
	height:40px;
	width: 96pt;
	font-size: 10.5pt;
}
.ERbutton div {
	line-height: 14pt;
	margin-bottom: 4pt;
	font-family: Calibri, Lucida Sans Unicode, Lucida Grande, Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 11pt;
	color: #666;
	font-weight: bold;
}
.darkgrey_Ibutton {
    background-color:#5e5e5e;
}
.darkgrey_Ibutton:hover {
    background-color:#363636;
}
.darkgrey_Ibutton:active {
    position:relative;
    top:1px;
}
.orange_Ibutton {
    background-color:#E98813;
}
.orange_Ibutton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe7b00), color-stop(1, #e66f00));
	background: -moz-linear-gradient(top, #fe7b00 5%, #e66f00 100%);
	background: -webkit-linear-gradient(top, #fe7b00 5%, #e66f00 100%);
	background: -o-linear-gradient(top, #fe7b00 5%, #e66f00 100%);
	background: -ms-linear-gradient(top, #fe7b00 5%, #e66f00 100%);
	background: linear-gradient(to bottom, #fe7b00 5%, #e66f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe7b00', endColorstr='#e66f00',GradientType=0);
	background-color: #D37913;
}
.orange_Ibutton:active {
    position:relative;
    top:1px;
}
.IRbutton {
	height:40px;
}
.IRbutton a {
	width: 180px;
    display:inline-block;
	font-size: 11px;
	font-weight: bold;
    color:#ffffff;
    font-family: Calibri, "Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;
    text-decoration:none;
}
.IRbutton div {
	font-size: 14px;
}
.EBbutton a {
	font-size: 10pt;
	line-height: 14pt;
	height: 20px;
	width: 100pt;
}				 
.EBbutton span {
	font-family: Calibri, Lucida Sans Unicode, Lucida Grande, Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	color: #666;
	font-weight: bold;
}
.EbuttonPrefix {
	line-height: 14pt;
	margin-bottom: 4pt;
	font-family: Calibri, Lucida Sans Unicode, Lucida Grande, Trebuchet MS, Helvetica, Arial, sans-serif;
	font-size: 11pt;
	color: #666;
	font-weight: bold;
}
 
.darkgrey_Ebutton a {	
	background-color:#595959;
	text-align:center;
	vertical-align: middle;
    display:inline-block;
	color:#ffffff;
    font-family: Calibri, "Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;
    text-decoration:none;
}
.darkgrey_Ebutton a:hover {
    background-color:#363636;
	color: #fff;
}
.darkgrey_Ebutton a:active {
    position:relative;
    top:1px;
}

.blue_Ebutton a {
    background-color:#4b76f7;
    text-align:center;
    vertical-align: middle;
    display:inline-block;
    color:#ffffff;
    font-family: Calibri, "Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;
    text-decoration:none;
}
.blue_Ebutton a:hover {
    background-color:#1a3ea9;
	color: #fff;
}
.blue_Ebutton a:active {
    position:relative;
    top:1px;
}
.orange_Ebutton a {
    background-color:#f60;
    text-align:center;
    vertical-align: middle;
    display:inline-block;
    color:#ffffff;
    font-family: Calibri, "Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;
    text-decoration:none;
}
.orange_Ebutton a:hover {
    background-color:#cd5a0d;
	color: #fff;
}
.orange_Ebutton a:active {
    position:relative;
    top:1px;
}

/* ------- Explorer Style ------- */
.explorerBottomPane {
	border-top: 1px solid lightgrey;
}

.explorerSelectedButtonPrefixText {
	padding-left: 8pt;
	overflow: hidden;
}

.explorerWelcomePageTitle {
	text-align: center;
	font-size: 14pt;
    padding:7px;
	border-bottom: 1px solid #ebebeb;
}

.explorerWelcomePagePoints {
	float: left;
} 
.explorerWelcomePageBullet {
	border: 6px solid grey; background-color: grey; color: white;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	float: left;
	margin-right: 5pt;
}
.explorerWelcomePageNumber {
	position: relative; top: -5pt; left: 1pt;
}
.explorerWelcomeViewDoc {
	float: left;
}

.explorerExampleDescription {
	font-family:Georgia,serif;
    color:black;
	font-size:13px;
	padding:6px;
}

.explorerFolderList, .explorerTitlePageDescription, .darkDescription {
    /* match style.css */
    font-family:"Lucida Sans Unicode","Lucida Grande","Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size:12px;
    color:#666;
    word-spacing:1px;
    line-height:20px;
}

.explorerTitlePageTitle {
    font-family:Bitstream Vera Sans,sans-serif;
 	color:#ffffff;
 	padding-left:6px;
 	background-color:#404080;
 	font-size:18px;
}

.explorerTitlePageTitle {
    font-family:Bitstream Vera Sans,sans-serif;
 	color:#ffffff;
 	padding-left:6px;
 	background-color:#404080;
 	font-size:18px;
}

.explorerTitlePageTitle, .explorerExampleTitle {
    background: #506273 url(/isomorphic/system/reference/skin/images/fe-header-bg-30h.png) repeat-x scroll 0 0;
}

.explorerCheckErrorMessage {
    color: red;
	font-family:Georgia,serif;
	font-size:13px;
}
.explorerSourceEditor {
	border:1px solid #808080;
	padding:10px;
	font-size:12px;
	font-family:Lucida Console, Monaco, Bitstream Vera Sans Mono, sans-serif;
    color:#333333;
}
.explorerSourceViewer {
	padding:10px;
	font-size:12px;
	font-family:Lucida Console, Monaco, Bitstream Vera Sans Mono, sans-serif;
}

.explorerTree {
    border: 2px solid #506273;
}

.etreeCell,
.etreeCellDark,
.etreeCellOver,
.etreeCellOverDark,
.etreeCellSelected,
.etreeCellSelectedDark,
.etreeCellSelectedOver,
.etreeCellSelectedOverDark,
.etreeCellDisabled,
.etreeCellDisabledDark {
	font-family:Arial,Bitstream Vera Sans,sans-serif; font-size:11px; text-overflow:ellipsis;
	color:#333333;
	background-color:#ffffff;
}
.etreeCellDark {
	background-color:#EFF1F1;
}
.etreeCellOver,
.etreeCellOverDark {
	background-color:#D9F7F7;
}
.etreeCellSelected,
.etreeCellSelectedDark {
	background-color:#FAEBB5;
}
.etreeCellSelectedOver,
.etreeCellSelectedOverDark {
	background-color:#F8E290;
}
.etreeCellDisabled,
.etreeCellDisabledDark {
	color:#999999;
	background-color:#F6F5DA;
}

.splitbarDown {
	border-left:2px solid #606060;
	border-right:2px solid #606060;
	background-color:#F0F0F0;
}

.examplePane {
	margin:20px;
}

.jumpButton {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
	border:1px solid #F0F0F0;
}

.jumpButtonOver {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
	border-left:1px solid white;
	border-top:1px solid white;
	border-right:1px solid #808080;
	border-bottom:1px solid #808080;
}

.jumpButtonDown {
    font-family:Tahoma,Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;	
	border-left:1px solid #808080;
	border-top:1px solid #808080;
	border-right:1px solid white;
	border-bottom:1px solid white;
}

.exampleDescCode {
	font-family:Bitstream Vera Sans Mono, Courier New, monospace;
	font-size:14px;
	font-weight:bold;
}

.exampleTitle {
    color:black; background-color:white;
	font-family:Gill Sans MT,Bitstream Vera Sans,sans-serif; font-size:22px;
}

.exampleText {
	font-family:Georgia,serif; font-size:11px;
}

.exampleTextBlock {
    background-color:white; color:black;
	font-family:Georgia,serif; font-size:11px;
	line-height:16px; text-align:justify;
	padding-left:10px; padding-right:10px;
}


.exampleDropTitle {
	float:left;font-family:Gill Sans MT,Bitstream Vera Sans,sans-serif;
    font-size:22px;
    line-height:32px;
    color:#404040;
}

.explorerFormTitle,
.explorerFormTitleFocused,
.explorerFormTitleDisabled,
.explorerFormCellError,
.explorerFormTitleError,
.explorerFormHint {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
}
.blackText,
.blackOnWhite {
    color:black;
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
}
.blackOnWhite {
    background-color:white;
}

.exampleSeparator {
    border-bottom: 2px solid gray;
    background-color:white; color:black;
    font-weight: bold;
    text-align: left;
}
